<%= form_for(@friend) do |f| %>
  
  <div class="field">
    <%= f.label :FirstName %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :LastName %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :Email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :Phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :Address %>
    <%= f.text_field :address %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

